label,input{
   display:inline-block;
 }
body{
   text-align: right;
   margin-right: 5px;
}
.home{
   position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: white;
}
.home .nav{
    /*background-color: blueviolet;*/
    padding: 0px 0px;
    overflow: auto;
    font-weight: bold; 
}
.home .nav ul{
    list-style-type: none;
}
.home .nav ul li a{
float: left;
   color: #656262;
   text-decoration: none;
   margin: 0px 10px 10px;
   padding-top: 5px;
}
.home .nav ul li img{
    float:right;
    width: 170px;
    height: auto;
    margin: 0x 10px;
    padding: 0px 30px;
}
.home .nav ul li button{
    color: #656262;
    text-decoration: none;
    margin: 0px 0px 0px 30px;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: white;
    border: 1px;
   border-color:#656262;
   border-style: solid;
    display: flex;
 }

 .parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }

.child{
    width:45%;
    margin-right: 5px;
}
 .child img{
    width:95%;
 }
 .child button{
    width: 100px;
    text-align: center;
    font-size: large;
    color: white;
    margin: 30px 30px 30px 30px;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #01b8dc;;
    border: 0px;  
    display: flex;
    float: right;
    box-shadow: 0 8px 28px rgb(22 223 126 / 45%);
}

 .child h1{
    margin-top: 100px;
    text-align: right;
    color: #3e4450;
    font-size: 40px;
    
 }
 .child p{
    color: gray;
    font-size: 24px;
    text-align: right;
 }
 .child2{
    width:45%;
    margin-right:  5px;
    background-color:#f9f9fa;
    border-radius: 5px;
    margin-bottom: 5px;
}
.parent .child2 h2 {
    margin-top: 10px;
    text-align: right;
    color: #3e4450;
    font-size: 10px;
    margin-right: 5px;
}
.parent .child3 h1{
   color:rgb(95, 104, 123);
}
.parent .child3 p{
   color: rgb(18, 18, 18);
}
.parent .child2 h2 a{
    text-decoration: none;
    color:#3e4450;
    padding-right: 5px;
    font-size: 20px;
    
    }

.child2 p{
    color: gray;
    font-size: 16px;
    text-align: right;
    margin-right:  5px;
 }
 .child2 img{
    float:right;
    width: 50px;
    height: auto;
    margin: 0x 10px;
    padding: 0px 30px;
 }
.child3 {
    width:45%;
    background-color: white;
    text-align: right;
    margin:5px 5px 5px 5px;
    padding-right: 20px;
    margin-bottom: 50px;
}
 .parent2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f9f9fa;
 }
 .parent2 h1{
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px;
    color:#3e4450;
    /*background-color: #656262;*/
 }
 .parent2 h2{
    text-align: center;
    color:rgb(69, 74, 83);
    font-size: 15px;
    font-weight: 200;
   /* background-color: #656262;*/
 }

 .child4{
    width:20%;
    height: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 25px;
    margin-bottom: 25px;
 }
 .child4 img{
    width: 100%;
 }
 .child4 h3{
    text-align: center;
    color: rgb(95, 104, 123);
 }
.title{
    width: 100%;
    text-align: center;
    text-shadow: -2px -16px  #8080801a;
    padding: 10px 10px;
}

.menu{
    width: 100%;
    text-align: center;
}
.parent3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    border-width: 10px;
    border-color: #01b8dc;
}
.parent3 .child5{
    width:52%;
    background-color: #f9f9fa;
    border-top: 3px solid #01b8dc;
    border-bottom: 3px solid #01b8dc;
}
.parent3 .child6{
   width: 40%;
   background-color: #f9f9fa;
   border-top: 3px solid #01b8dc;
   border-bottom: 3px solid #01b8dc;
}
textarea {
   box-shadow: none;
   font-size: 14px;
   border-radius: 4px;
   width:80%;
}
.child5 button{
   width: 100px;
   text-align: center;
   font-size: large;
   color: white;
   margin: 30px 250px;
   padding: 10px 25px;
   border-radius: 5px;
   background-color: #01b8dc;
   border: 0px;  
}
input{
   width:50%;
}

h2{
   text-align: center;
    color: rgb(69, 74, 83);
    font-size: 20px;
    font-weight: 200;
}
.parent3 .child5 h4{
   color: rgb(69, 74, 83);
   font-size: 20px;
   font-weight:bold;

}
.parent3 .child6 h5{
   color: rgb(69, 74, 83);
   font-size: 20px;
}
.parent3 .child6 h6{
   color: rgb(47, 50, 55);
   font-size: 13px;
}
.parent3 .child6 img{
   width :70%;
}
footer {
   padding:10px 10px;
   color: #656262;
   background-color: #f9f9fa;
   text-align: center;
   margin: 25px 25px 25px 25px;
}

.footer .designed h7{
   text-align: right;
}
@media(max-width:920px) {
  /* body{
      background-color: green;
   }*/
}
/* ipad : large*/
@media(max-width:750px){
 /*body{
background-color: pink;
 }  */
 
}
@media(max-width:675px){
 /* body{
  background-color: blue;
  font-size: 10px;
   }  */
  header{
   width:20%;
  }
  .home .nav{
   font-weight:100;
}
.home .nav ul li img{
   float:right;
   width: 100px;
   height: auto;
  
}
.home .nav ul li button{
width: 15%;
font-size: 9px;
}
.child3 p{
   font-size: 10px;
}
.parent .child h1{
   font-size: 25px;
}
.parent .child p{
   font-size: 20px;
}
 .body button{
   width:20%;
}
.child button{
   width:25px;
}
.child5 button{
   width: 34px;
   text-align: center;
   font-size: x-small;
}
.home .nav ul li a{
   float: left;
      color: #656262;
      text-decoration: none;
      margin: 0px 10px 10px;
      padding-top: 5px;
      font-size: 11px;
      font-weight: bold;
   }
  }


  @media(max-width:675px){
   header{
      width:15%;
     }
     .home .nav{
      font-weight:100;
   }
   .home .nav ul li img{
      float:right;
      width: 100px;
      height: auto;
     
   }
   .home .nav ul li button{
   width: 15%;
   font-size: 9px;
   }
   .child button{
      width:20px;
   }
   .home .nav ul li button {
      width: 10%;
      font-size: 7px;
      height: auto;
   }
   .child5 button{
      width: 34px;
      text-align: center;
      font-size: x-small;
   }
  }